// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// Login button
.login-btn{
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	border-radius: 1em;
	background: #66ec44;
	align-items: center;
	padding: 0.25em 0.75em;
}
.login-btn:hover {
    background: #919e9e;
    border-color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

// Basic Button
.button{
	font-size:1.1em;
	background: #24a19c;
	padding: 1em 1.5em;
	color: white;
	box-shadow: 0 0 3em -1em rgba(0,0,0,0.75);
	text-transform:uppercase;
	border-color:white;
	border-radius:1.5em;
	text-decoration: none;
	transition: 0.4s;
	white-space: normal;
}
.button:hover{
	background: #006a71;
	color: white;
	text-decoration: none;
}
